*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0D0D11;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 85%;
    margin: auto;
}
.mini-title{
    width: 74px;
    height: 37px;
    border-radius: 12px;
    padding: 11px 19px;
    border: 1px solid #81818B;
    color: #9C9C9C;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 25px;
}
.readNews_txtPart{
    margin: 96px 0;
    position: relative;
}
.News_title{
    color: white;
    font-size: 52px;
    font-weight: 500;
    width: 390px;
    margin-bottom: 12px;
}
.news_discrip{
    color: #9C9C9C;
    font-size: 18px;
    font-weight: 200;
    width: 736px;
}
.blueBtn{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 160px;
    height: 52px;
    font-size: 14px;
    color: white;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #3D96F4;
    background-color: #3D96F4;
}